*{
    font-family: system-ui
}
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#locationSelect {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
#sizeFilter {
    width: 200px;
}
body.dragover {
  border: 2px dashed #ccc;
  background-color: rgba(0, 0, 0, 0.05);
}
.hidden {
    display: none !important;
}